*, *::before, *::after {
  box-sizing: border-box;
}

.body {
  justify-content: center;
  align-items: center;
}


.container {
  height: auto;
  width: 800px;
  max-width: 80%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.btn {
  background-color: hsl(199, 56%, 89%);
  border: 1px solid hsl(200, 100%, 30%);
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  margin-top: 20px;
  outline: #333;
}


.btn:hover {
  border-color: white;
}

.header {
  border: 1px solid black;
  width: 75%;
  margin: 5px auto;
}
.content {
  text-align: center;
  padding: 50px;
}
.contentBox {
  border: 1px solid black;
  width: 20%;
  display: inline-block;
  box-sizing: border-box;
}
.dropdown-menu li {
  position: relative;
  }
  .dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
  }
  .dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
  }
  #story{
    display: flex; 
    flex-direction: column-reverse;
  }
  #image{
    width: 10%;
    height: 10%;
  }

  .nav{
    box-shadow: 0 0 10px 2px;
  }
  .navbar{
    box-shadow: 0 0 10px 2px;
  }

  /*
  background image {
    width: 100%;
    height: 400px;
    background-image: url('img_flowers.jpg');
    background-size: cover;
    border: 1px solid red;
  }
  */


  #Leveling_Status {
    width: 100%;
    background-color: #ddd;
  }
    
  #expstatus {
    width: 1%;
    height: 12px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 32px;
    color: black;
  }
  

  .uc{ 
    color: green !important;
  }

  .r{
    color: blue !important;
  }

  .e{
    color: purple !important;
  }

  .l{
    color: orange !important;
  }

  .k{
    color: red !important;
  }
  
  .cc{
    color: brown !important;
  }
    
  .c{
    color: black !important;
  }






  .dropdown-menu li {
    position: relative;
    }
    .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    }
    .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    }
    
    .dropdown-hover:hover>.dropdown-menu {
    display: inline-block;
    }
    